*
    {
        margin: 0;
        padding: 0;
        color: #090C02;
    }

body    
    {
        background-color: #776D61;
        /* background-image: url(./img/juana-de-arco-portada.jpg); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
    }
    
.banner
        {
            background-color: aquamarine;
            background-image: url(./img/juana-de-arco-web.jpg); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            background-position: center;
            background-position-y: -4rem;
            height: 28vh;
            display: grid;
               
        }
.titulo 
        {
            background-color: #AFA99D;
            padding-left: 2.5em 0px;
            width: 60%;
            max-width: 900px;
            margin: 2.2em auto;
        }
h1
            {
                /* padding-left: 2.5em 0px; */
                text-align: center; text-transform: uppercase;
                font-size: 3.5em;
                font-weight: 700;  
            }

.subtitulo  
            {
                background-color: #AFA99D;
                width: 60%;
                max-width: 900px;
                margin: 2.2em auto;
            }
            
.container 
            {
                background-color: #AFA99D;
                width: 60%;
                max-width: 900px;
                margin: 2.2em auto;
                display: grid;
                gap: 2.5em;

                grid-template-columns: repeat(4, 1fr) ;
            }

.grid-title 
            {
                display: grid;
               
            }


/* .banner 
        {
           background-image: url(./img/juana-de-arco-.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-position-y: -10rem;
            height: 28vh;
            margin: 0rem 8rem 0rem 8rem;
        }

.banner h1  
            {
                border: 0pt;
              font-size: 80px;
               
            } */