* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #776D61;
    font-family: 'Poppins', sans-serif;
    color: #090C02;
    box-shadow: inset 0px 12px 30px #090c02be;
}


.banner {

    background-image: url(./img/juana-de-arco-web.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position: center;
    background-position-y: -4rem;
    height: 28vh;
    box-shadow: 0px 4px 20px #090c02be;
}

.titulo, .subtitulo, .introduccion, .test  {

    background-color: #AFA99D;
    padding-left: 2.5em 0px;
    width: 60vw;
    max-width: 800px;
    margin: 2.2em auto;
}

.bio {

    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
}

.cita {

    display: block;
    background-color: #AFA99D;
    padding-left: 2.5em 0px;
    width: 40%;
    max-width: 450px;
    margin: 2.2em auto;
    margin-bottom: 4em; 
}   

h1 {

    padding-left: 2.5em 0px;
    text-align: center; 
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 700;  
}  
                 
q  {

    border-left: 4pt solid #5F021F;
    font-style: italic;
    font-size: 14pt;
    font-weight: 200;
}

h2 {

    text-transform: uppercase;
}

h3 {

    font-size: 22pt;
    margin-left: 14px;
    color:#AFA99D ;
    background-color: #5F021F;
    margin: 0px 0px 20px 0px;
    padding-left: 14px;

    
}


    

.introduccion p {

    padding-left: 14px;
    margin: auto;
    font-weight: 100;
}

.introduccion li {

    display: block;
    margin: 0px 14px;
}

.contenido p {

    background-color: #AFA99D;
    padding: 10px;
    padding-left: 14px;
    margin: auto;
    font-weight: 100;
}

.container,
.container .contenido,
.container .sidebar{

    padding: 0px;
    margin: 0px auto;
}

.sidebar {

    background-image: linear-gradient(120deg, rgba(252,170,103,0.4) 0%, rgba(255,255,199,0.4) 50%, rgba(84,134,135,0.4) 80%, rgba(51, 62, 71, 0.8) 100%), url(./img/juana-de-arco-web.jpg);
    background-size: cover;
    width: 16rem;
    box-shadow: 0px 5px 10px #041f31be;
}
       
.side_img0 {

    background: #5F021F;
    height: 20%;
    width: 245px;
    margin: 32% -7px 40% 4px;
    background-image: url(./img/juana-de-arc_img1.jpg);
    background-size: cover;
    border: 2px solid #AFA99D;
    
}

.side_img1 {

    background: #5F021F;
    height: 20%;
    width: 245px;
    margin: 80% -7px 40% 4px;
    background-image: url(./img/juana-de-arc_img2.jpg);
    background-size: cover;
    border: 2px solid #AFA99D;
}

.side_img2 {

    background: #5F021F;
    height: 20%;
    width: 245px;
    margin: 70% -7px 40% 4px;
    background-image: url(./img/juana-de-arc_img3.jpg);
    background-size: cover;
    border: 2px solid #AFA99D;
}

footer {

    color: #AFA99D;
    font-size: 12pt;
    background-color: #001427;
    text-align: center;
    padding: 12px 0px;
    box-shadow: 0px 4px 6px #130802be;

    animation: colorbg 6s infinite;
}

@keyframes colorbg {
    0% { background-color: #001427;
        transform: scale(1)}
  50% { background-color: #5F021F;
        transform: scale(1.15) }
  100% { background-color: #001427;
        transform: scale(1)}
}

small {
    display: block;
    padding: 0px;
    margin: auto 2em;
    text-align: end;
}

select {
    
    margin-left: 25px;
    padding-right: 150px;
}

.test p {

    padding-left: 14px;
}

#estatico  {
    background-color: #AFA99D;
    background-image: url(./img/qrcode.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 220px;
    height: 180px;
    border-radius: 5%;
    position: fixed;
    right: 30px;
    bottom: 30pt;
    box-shadow: 0px 2px 10px #5F021F;
}

#estatico:hover {

    transform: scale(1.15);
    background-color: #d3cdc2;
    box-shadow: 0px 2px 10px #001427;
}